/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* Generic project style */
    /* Background */
    background-image: url('../images/21-background.jpeg');
    background-position: center;
    background-size: cover;
    background-color: #3d9516;
    /* Font */
    font-family: 'Rye', 'sans-serif';
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* Page Title */
h1 {
    color: #CFB006;
    -webkit-text-stroke: 2px #C20202;
    font-weight: 300;
    font-size: 500%;
}

/* Main game area (light transulcent box) */
#game-area {
    margin: 0 auto 0;
    width: 85%;
    height: 70%;
    background-color: rgba(250, 250, 250, 0.1);
}

/* Opponent score area */
#opponent-score-area {
    border: solid 2px #CFB006;
    text-align: left;
}

/* Where the cards are dealt to for opponent and player (darker translucent box) */
#opponent-hand,
#player-hand {
    background-color: rgba(0, 0, 0, 0.5);
    height: 25%;
    max-height: 200px;
    width: 85%;
    max-width: 750px;
    margin: auto;
    display: flex;
    flex: row wrap;
    justify-content: center;
}

/* The cards */
#opponent-hand img,
#player-hand img {
    align-items: center;
    border-radius: 5%;
    width: auto;
    max-width: 150px;
    height: 5em;
    max-height: 200px;
    margin: 2%;
}

/* Player score area */
#player-score-area {
    border: solid 2px #CFB006;
    text-align: right;
}

/* Game buttons in center */
#game-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Button styling */
button {
    /* Font */
    font-family: 'Rye', sans-serif;
    font-weight: 100;
    font-size: .75em;
    color: #163904;
    /* Button */
    background-color: #CFB006;
    height: 6vh;
    min-height: 40px;
    width: 10vw;
    min-width: 70px;
    border: solid 4px #163904;
    border-radius: 35%;
    /* Spacing */
    margin: 0.5% 7% 0.5%;
    /* Positioning */
    align-self: center;
}

/* Deal button */
#deal {
    /* Font */
    font-size: 1.25em;
    /* Button */
    height: 1.8em;
    min-width: 120px;
    /* Positioning */
    order: 1;
    margin: 0 30% 0 30%;
}

/* Hit button */
#hit {
    /* Positioning */
    order: 2;
}

/* Stay button */
#stay {
    /* Positioning */
    order: 3;
}

/* Rules and reset buttons */
#game-rules,
#restart-game {
    /* Button */
    min-width: 250px;
    min-height: 50px;
    /* Positioning */
    margin: 2%;
}


@media (min-width: 470px) {
  
   body {
    /* Larger font throughout */
    font-size: xx-large;
   }

   /* Disregard flex to adjust positioning of game controls */
   #game-controls {
    display: initial;
   }

   /* Return to initial spacing around deal button so they are next to eachother instead of in a column */
   #deal {
    margin: initial;
   }

   /* Ammend spacing around buttons */
   button {
    margin: 0.5% 5% 0.5%;
   }
    
  }