/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* Generic project style */
    /* Background */
    background-image: url('../images/21-background.jpeg');
    background-position: center;
    background-size: cover;
    background-color: #3d9516;
    /* Font */
    font-family: 'Rye', 'sans-serif';
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* Set body to relative to support results being displayed in absolute */
    position: relative;
}

/* Page Title */
h1 {
    color: #CFB006;
    -webkit-text-stroke: 2px #C20202;
    font-weight: 300;
    font-size: 500%;
}

/* Main game area (light transulcent box) */
#game-area {
    margin: 0 auto 0;
    width: 85%;
    height: 70%;
    background-color: rgba(250, 250, 250, 0.1);
}

/* Opponent score area */
#opponent-score-area {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 4px #163904;
    text-align: left;
    /* Outline score text */
    color: #CFB006;
}

/* Where the cards are dealt to for opponent and player (darker translucent box) */
#opponent-hand,
#player-hand {
    height: 25%;
    max-height: 200px;
    width: 85%;
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* The cards */
#opponent-hand img,
#player-hand img {
    align-items: center;
    border-radius: 5%;
    width: auto;
    max-width: 150px;
    height: 5em;
    max-height: 200px;
    margin: 2%;
}

/* Player score area */
#player-score-area {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 4px #163904;
    text-align: right;
    color: #CFB006;
}

/* Game buttons in center */
#game-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Button styling */
button {
    /* Font */
    font-family: 'Rye', sans-serif;
    font-weight: 100;
    font-size: .75em;
    color: #163904;
    /* Button */
    background-color: #CFB006;
    height: 6vh;
    min-height: 40px;
    width: 10vw;
    min-width: 70px;
    border: solid 4px #163904;
    border-radius: 35%;
    /* Spacing */
    margin: 0.5% 7% 0.5%;
    /* Positioning */
    align-self: center;
}

/* Buttons all change color - becoming inverted when they are hovered over */
button:hover {
    background-color: #163904;
    color: #CFB006;
    border: #CFB006 2px solid;
}

/* Buttons depress when they are clicked */
button:active {
    transform: scale(0.95);
}

/* Deal button */
#deal {
    /* Font */
    font-size: 1.25em;
    /* Button */
    height: 1.8em;
    min-width: 120px;
    /* Positioning */
    order: 1;
    margin: 0 30% 0 30%;
}

/* Hit button */
#hit {
    /* Positioning */
    order: 2;
}

/* Stay button */
#stay {
    /* Positioning */
    order: 3;
}

/* Rules and reset buttons */
#game-rules,
#restart-game {
    /* Button */
    min-width: 250px;
    min-height: 50px;
    /* Positioning */
    margin: 2%;
}

/* Display of results as an animation */
/* Results are displayed and change color and size as detailed below */
@keyframes result-display {
    from {
        color: rgba(22, 57, 4, 0);
        font-size: 1%;
    }

    to {
        color: #C20202;
        -webkit-text-stroke: 2px #163904;
        font-size: 400%;
    }
}

.animated {
    color: rgba(22, 57, 4, 0);
    font-size: 1%;
    /* Animation plays for 3secs and is linked to the above */
    animation-name: result-display;
    animation-duration: 3s;
    /* Absolute positioning and set to display from the middle of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    /* Element grows outwards from center */
    transform: translate(-50%, -20%);
}

/* Displays the result on page afterwards but is transparent */
#results {
    color: transparent;
    -webkit-text-stroke: transparent;
    font-size: 0.001%;
}

/* The Game Rules Modal */
/* Background styling */
.modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;
    /* Full width */
    left: 0;
    top: 0;
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Content color */
    color: #163904;
    /* Fallback background */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    /* Background color of modal box */
    background-color: #DDC750;
    /* 5% from the top and centered */
    margin: 5% auto;
    /* Padding between content and box */
    padding: 20px;
    /* Box border */
    border: 1px solid #163904;
    /* Could be more or less, depending on screen size */
    width: 80%;
}

.modal-content p {
    /* Title styling */
    font-size: 200%;
    text-decoration: underline;
    padding-bottom: 5%;
}

.modal-content li {
    /* Style list items in the modal box */
    /* Delete bullet points */
    list-style-type: none;
    /* Style font */
    font-size: 75%;
    font-weight: 100;
    /* Gap between li */
    padding-bottom: 2%;
    /* Positioning */
    margin: 0;
    margin-bottom: 1em;
    position: relative;
}

/* The Close Button */
.close {
    color: #163904;
    float: right;
    font-size: 34px;
    font-weight: bold;
}

/* 404 Error page */
h2,
h3 {
    color: #CFB006;
    -webkit-text-stroke: 1px #C20202;
    font-weight: 300;
    font-size: 300%;
}

/* Ban icon */
i {
    color: #163904;
    -webkit-text-stroke: 2px #CFB006;
    font-size: 500%;
    padding-bottom: 30px;
}

/* Text */
p {
    color: #CFB006;
    font-weight: 200;
    font-size: 100%;
}

/* Link back to home page */
a {
    color: #CFB006;
}

@media (min-width: 470px) {

    body {
        /* Larger font throughout */
        font-size: xx-large;
    }

    /* Disregard flex to adjust positioning of game controls */
    #game-controls {
        display: initial;
    }

    /* Return to initial spacing around deal button so they are next to eachother instead of in a column */
    #deal {
        margin: initial;
    }

    /* Ammend spacing around buttons */
    button {
        margin: 0.5% 5% 0.5%;
    }

}